
<footer id="footer" class="pt-4 bg-dark">
    <div class="container">
        <div class="row pb-4">
            <div class="col-md-3 footer_address">
              <h5>youVA.com</h5>
              <p class="company-address"><i class="bi bi-geo-alt-fill"></i> V-603, DSK Vishwa, Dhayari, Pune, (M.H.)</p>
              <p class="company-address"><i class="bi bi-telephone-fill"></i> 1800 5578 4444</p>
              <p class="company-address"><i class="bi bi-envelope-at-fill"></i> satyasuman123123@gmail.com</p>
            </div>
            
            <div class="col-md-3 footer_address">
                <h5>Company</h5>
                <p><a routerLink="about">About</a></p>
                <p><a routerLink="contact">Contact</a></p>
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Terms & Conditions</a></p>
            </div>
            
            <div class="col-md-3 footer_address">
                <h5>Services</h5>
                <p><a href="#">Home Delivery</a></p>
                <p><a href="#">Cash on Delivery</a></p>
                <p><a href="#">Order Pickup</a></p>
            </div>
            
            <div class="col-md-3 footer_address">
                <h5>Follow Us</h5>
                <div class="follow-icon">
                  <span> <i class="bi bi-instagram pe-2"></i> </span>
                  <span> <i class="bi bi-facebook pe-2"></i> </span>
                  <span> <i class="bi bi-twitter-x pe-2"></i> </span>
                  <span> <i class="bi bi-whatsapp pe-2"></i> </span>
                  <span> <i class="bi bi-linkedin"></i> </span>
                </div>
            </div>
        </div>
        
        <div class="footer-copyright pt-3 pb-2">
            <p> &copy; <a class="border_bottom" routerLink="">youVA</a>, All Right Reserved. 
              Designed By <a class="border_bottom" href="#">Satya Suman Behera</a></p>
        </div>
    </div>
  </footer>