<div class="container my-5">
    <!--Data or Content-->
    <div class="box-1">
        <div class="content-holder p-5">
            <h2 class="m-4">Login Form</h2>
            <button class="button-1 p-3 mt-4 btn btn-dark" routerLink="/signup">SignUp</button>
        </div>
    </div>

    
    <!--Forms-->
    <div class="box-2 p-5">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
    
            <!-- EMAIL-ADDRESS details starts -->
            <div class="mb-3">
                <input type="text" class="form-control p-2" placeholder="Email" formControlName="email">
                <div class="mt-2" *ngIf="error['email'].touched && error['email'].invalid">
                    <div *ngIf="error['email'].errors && error['email'].errors['required']" class="alert alert-danger">
                        Email is required.
                    </div>
                    <div *ngIf="error['email'].errors && error['email'].errors['email']" class="alert alert-warning">
                        Please, enter valid email address.
                    </div>
                </div>
            </div>
            <!-- EMAIL-ADDRESS details ends -->

            <!-- PASSWORD details starts -->
            <div class="mb-3">
                <input type="password" class="form-control p-2" placeholder="Password" formControlName="password">
                <div class="mt-2" *ngIf="error['password'].touched && error['password'].invalid">
                  <div *ngIf="error['password'].errors && error['password'].errors['required']" class="alert alert-danger">
                      Password is required.
                  </div>
                  <div *ngIf="error['password'].errors && error['password'].errors['minlength']" class="alert alert-warning">
                      Password at least 8.
                  </div>
                </div>
            </div>
            <!-- PASSWORD details ends -->
            <button type="submit" class="btn btn-outline-success py-3 px-4">Login</button>
        </form>
    </div>