.card {
    border: 1px solid #ddd;
    margin-top: 20px;
}

.card-img-top {
    max-height: 200px;
    object-fit: contain;
    margin-top: 10px;
}

.card-price {
    font-weight: bold;
    color: #000;
    margin-top: 10px;
}

.card-discount {
    color: green;
    font-size: small;
    margin-top: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.card-title {
    font-weight: bold;
    font-size: small;
    text-align: center;
}

.card-rating,
.fa-solid {
    font-size: smaller;
}

.card-rating {
    background-color: green;
    color: white;
    font-size: smaller;
    font-weight: bold;
    width: 50px;
    height: 25px;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
}

img{
    cursor: pointer;
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
    img:hover{
        transform: scale(1.2); /* Adjust the scale factor as needed */
    }
.viewDetails{
    text-decoration: none;
    margin-left: 12px;
    font-size: 15px;
}
    .viewDetails:hover{
        color: red;
        font-size: 16px;
        transition: .5s;
    }