<div class="container about my-5">
    <h1 class="text-center py-4">{{heading | titlecase}}</h1>
    <h3 class="mb-4">youVa.com</h3>
    <p>At youVa, our goal is to make shopping easier, faster, and more convenient than ever before for our customers. We are committed in our mission to build a trustworthy online marketplace which offers the widest range of products across the country. With our proven user experience and reliable services, we are committed to provide customers in India with a trusted and hassle-free one-stop-shop for all their shopping needs across various categories such as Electronics, Grocery, Fashion, Home & Kitchen, etc.</p>
    <p>Every week, about 265 million clients and individuals visit our in excess of 13,200 stores under 55 standards in 27 nations and eCommerce sites in 10 nations.</p>
    <p>With the financial year 2018 income of $500.3 billion, youVa utilizes over 2.2 million partners around the world.</p>
</div>
