<div class="container my-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{productDetail.image}}" alt="mp Image">
                </div>
                <button class="btn btn-outline-success mx-5">Buy Now</button>&nbsp;
                <button class="btn btn-outline-warning" (click)="addToCart(productDetail)">Add to Cart</button>
            </div>
            <div class="col-md">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{productDetail.name}}</h5>
                        <p class="card-rating">{{productDetail.rating}}&nbsp;<i class="bi bi-star-fill"></i></p>
                        <p class="card-price"> {{productDetail.price | currency:"INR"}} &nbsp; 
                            <small><del style="font-weight: lighter;">{{productDetail.prePrice | currency:"INR"}}</del></small>&nbsp;
                            <span class="card-discount">{{productDetail.discount}}&percnt;&nbsp;off</span>
                        </p>
                        <p>{{productDetail.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
